.simpan{
    background-color: transparent ;
    color: #52381E;
    font-size: 20px;
    font-family: 'arial',sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 12px 30px;
    border: 2px solid;
    border-color: #937454;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-end;
    margin-top: 190px;
    margin-left: 700px;
    bottom: 50px;
    right: 24px;
}

.simpan:hover{
  background-color: #866848e5; 
  border-color: #937454; 
  padding-right: 25px; 
}

.logout{
    background-color: transparent ;
    color: #52381E;
    font-size: 20px;
    font-family: 'arial',sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 12px 30px;
    border: 2px solid;
    border-color: #937454;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 220px;   /* ⬅️ DORONG KE BAWAH */
    margin-bottom: 20px;
    align-self: flex-end; /* ⬅️ KE KANAN */
    margin-right: 20px;
  
}

.logout:hover{
background-color: #937453a7;
border-color: #937454; 
padding-right: 25px;
}