.dashboard-layout1 {
  display: flex; /* Sidebar di kiri, Konten di kanan */
  min-height: 100vh;
  width: 100%;
}

.dashboard-content1 {
  overflow-y: auto;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 40px;
  background-color: #C59E74;
  background-image: url('../../componnets/assest/gurunpasir.png');
  max-width: 100%;
  margin-top: -10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


