/* src/pages/Navbar/navbar.css */
.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  position: sticky; /* Agar sidebar tetap di tempat saat scroll konten */
  top: 0;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 30px;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.menu-links a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.menu-links a:hover {
  background-color: #34495e;
}