@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.sidebar {
  width: 334px;
  height: 100vh;
  background: linear-gradient(#E8C79D,#D5AA7E,#B98763);
  color: white;
  padding-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #937454;
}

.sidebar p {
  font-family: "Rubik Doodle Shadow", system-ui;
  color: #52381E;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebar button{
  background-color: transparent;
  display: block;
  color: #52381E;
  font-style: italic;
  font-weight: bold;
  padding: 12px 20px;
  text-decoration: none;
  border: 2px solid #937454;
  border-radius: 19px;
  margin: 10px;
  font-size: 20px;
  width: 220px;
  text-align: center;
}

.logout1 button{
  background-color: transparent;
  color: #52381E;
  font-size: 20px;
  font-family: 'arial', sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 12px 24px;

 
  border-radius: 12px;
  cursor: pointer;

  margin-top: 200px;      /* ⬅️ DORONG KE BAWAH */
  margin-bottom: 20px;
  align-self: center;    /* atau flex-start / flex-end */
}

.logout1 button:hover{
    background-color: #937453a7;
  padding-left: 25px;
}

.sidebar button:hover {
  background-color: #937453a7;
  padding-left: 25px;
}
