@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.sidebar1 {
  width: 22rem;
  min-width: 260px;
  max-width: 320px;
  height: 100vh;
  background: linear-gradient(#E8C79D,#D5AA7E,#B98763);
  padding-top: 15px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #937454;
  box-sizing: border-box;
  
}

.sidebar1 p {
  font-family: "Rubik Doodle Shadow", system-ui;
  color: #52381E;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}


