.dashboard-layout {
  display: flex; /* Sidebar di kiri, Konten di kanan */
  min-height: 100vh;
  width: 100%;
}

.dashboard-content {
  flex: 1;
  padding: 40px;
  background-color: #C59E74;
  background-image: url('../../componnets/assest/gurunpasir.png');
  max-width: 100%;
  margin-top: -10px;
}


