.button-edit {
  background-color: transparent;
  margin-top: 40px;
  color: #52381E;
  font-size: 20px;
  font-family: 'arial', sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 12px 20px; 
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 20px;  
  border: 2px solid #937454;
  margin-left: 472px;
}

.button-edit:hover{
    background-color: #937453a7;
  padding-left: 25px;
}