.absensi-box {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.absensi-table {
  width: 100%;
  border-collapse: collapse;
}

.absensi-table th,
.absensi-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.absensi-table input,
.absensi-table select {
  width: 100%;
  padding: 6px;
}
