.judul {
  background-color: #EBCFA9;
  padding: 18px 24px;
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 100%;
  height: 50px;
  

  box-shadow: 0 4px 0 #B8956A;
  margin: 20px;
}

.judul h2 {
  margin: 0;
  font-size: 25px;
  font-family: Arial, sans-serif;
  font-style: italic;
  color: #5A3E1B;
 
}

.judul span {
  font-size: 14px;
  color: #5A3E1B;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
}
