.simpan{
    background-color: transparent ;
    color: #52381E;
    font-size: 20px;
    font-family: 'arial',sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 12px 30px;
    border: 2px solid;
    border-color: #937454;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-end;
    margin-top: 190px;
    margin-left: 700px;
    bottom: 50px;
    right: 24px;
}

.simpan:hover{
  background-color: #866848e5; 
  border-color: #937454; 
  padding-right: 25px; 
}

.logout {
  background-color: transparent;
  color: #c9bbad;
  font-size: 20px;
  font-family: 'arial', sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 12px 300px;

  border: 2px solid #937454;
  border-radius: 12px;
  cursor: pointer;

  margin-top: auto;      /* ⬅️ DORONG KE BAWAH */
  margin-bottom: 20px;
  align-self: center;    /* atau flex-start / flex-end */
}


.logout:hover{
background-color: #937453a7;
border-color: #937454; 
padding-right: 25px;
margin-bottom: 50px;
}