.filter-container {
  background: #ffffff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  width: 900px;
  height: 200px;
  margin: -20px;
  margin-top: 2px;
  margin-left: 10px;
}

.filter-title {
  font-size: 24px;
  font-weight: bold;
  color: #8b5e3c;
  margin-bottom: 12px;
}

.filter-label {

  font-family: Arial, sans-serif;

  color: #5A3E1B;
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.filter-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  margin-bottom: 20px;
}

.filter-select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1.5px solid #c49a6c;
  font-size: 14px;
  background: #fff;
  cursor: pointer;
}

.filter-button {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1.5px solid #c49a6c;
  background: #fff;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 30px;

  
}

.filter-button:hover {
  background: #f5e4cf;
}

.icon {
  font-size: 16px;
}

/* TABLE */
.rekap-table {
  width: 100%;
  border-collapse: collapse;
}

.rekap-table th,
.rekap-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.rekap-table th {
  background: #f3d2a2;
  color: #5a3a1a;
}

.rekap-table tr:nth-child(even) {
  background: #f9f1e6;
}
