.searchbar-wrapper {
  position: relative;
  width: 100%;
}

.searchbar-icon {
  position: absolute;
  left: 110px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af; /* gray-400 */
}

.searchbar-input {
  margin: 30px;
  margin-left: 100px;
  width: 700px ;
  
  padding: 12px 16px 12px 48px;
  border: 2px solid #d1d5db; /* gray-300 */
  border-radius: 12px;
  font-size: 15px;
  outline: none;
  transition: all 0.2s ease;
}

.searchbar-input::placeholder {
  color: #9ca3af;
  text-transform: lowercase;
}

.searchbar-input:focus {
  border-color: #3b82f6; /* blue-500 */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}